body{
    background: #f5f5f5;
    color: #111;
    font: 14px Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0;
}

header{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: -20px;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.new-todo{
    margin: auto;
    display: block;
    text-align:start;
    background: #fff;
    border: 1px solid transparent;
    box-shadow:  0px 5px 10px rgba(143, 145, 145, 0.5);
    height: 65px;
    padding: 16px 200px 20px 40px;
    box-sizing: border-box;
    color: inherit;
    font-family:inherit;
    font-size: 25px;
    font-weight: inherit;
    margin: 0;
    position: relative;
    width: 550px;
}
h1{
    color: #b83f45;
    font-size: 80px;
    font-weight: 200; 
    top: -140px;
    width: 100%;
    text-align: center;
}
.footer{
    color: #4d4d4d;
    font-size: 11px;
    margin: 65px auto 0;
    text-align: center;
}
.footer a{
    color: inherit;
    font-weight: 400;
    text-decoration: none;
}
p{
    margin: 1px;
}
.lists{
    margin: -30px;
}
.lists ul {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    list-style: none;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    padding: 0;
    background-color: white;
}

.lists li {
    padding: 31px;
    margin: 0px;
   
}

.lists button,
.lists a {
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 17px;
    transition: border-color 0.3s;
}

.lists button:hover,
.lists a:hover {
    border-color: #b83f45;
}

.lists li:last-child {
    border-bottom: none;
}
li{
    list-style: none;
    margin: 5px;
}
button{
    margin: -30px;
}

#task-list {
    margin-top: -20px;
    background: #fff;
    font-size: medium;
}

.delete-btn {
    cursor: pointer;
    margin-left: 400px;
    color: #111111;
    font-weight: bold;
    display: none;
}

.task-container:hover .delete-btn {
    display: inline-block;
}


.container {
    position: relative;
}

.new-todo {
    padding-right: 30px; 
}

.select-all {
    position: relative;
    top:-25px;     
    transform: translateY(-50%);
    margin-left: 10px;
    font-size: 18px;
    padding: 5px;
    background-color: transparent;
}
.task-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #5b5f5f;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-right: 10px; 
    margin-left: -30px;
    transition: border-color 0.3s;
}

.task-checkbox:checked::before {
    content: '\2713'; 
    font-size: 30px;
    color: #4CAF50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.task-container label {
    text-decoration: none;
    color: #1a1818;
    margin-left: 10px;
    flex-grow: 1;
}

.task-checkbox:checked + label {
    text-decoration: line-through;
    color: #676867;
}
.task-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


.delete-btn {
    cursor: pointer;
    margin-left: 10px;
    color: #111111;
    font-weight: bold;
    display: none;
}