body{
    background: #f5f5f5;
    color: #111;
    font: 14px Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0;
}

header{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: -20px;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.new-todo{
    margin: auto;
    display: block;
    text-align:start;
    background: #fff;
    border: 1px solid transparent;
    box-shadow:  0px 5px 10px rgba(143, 145, 145, 0.5);
    height: 65px;
    padding: 16px 200px 20px 40px;
    box-sizing: border-box;
    color: inherit;
    font-family:inherit;
    font-size: 25px;
    font-weight: inherit;
    margin: 0;
    position: relative;
    width: 550px;
}
h1{
    color: #b83f45;
    font-size: 80px;
    font-weight: 200; 
    top: -140px;
    width: 100%;
    text-align: center;
}
.footer{
    color: #4d4d4d;
    font-size: 11px;
    margin: 65px auto 0;
    text-align: center;
}
.footer a{
    color: inherit;
    font-weight: 400;
    text-decoration: none;
}
p{
    margin: 1px;
}

 .lists ul {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    align-content: space-between;
    list-style: none;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
}

.lists li{
    padding: 30px;
}
li{
    list-style: none;
    margin: 5px;
}
button{
    margin: -30px;
}

#task-list {
    background: #fff;
}

.delete-btn {
    cursor: pointer;
    margin-left: 400px;
    color: #111111;
    font-weight: bold;
    display: none;
}

.task-container:hover .delete-btn {
    display: inline-block;
}
.select-all {
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
}


